<div class="navbar">
  <div class="navbar-left">
    <input id="navbarSearch" type="text" class="navbar-search" placeholder="Pesquisar..." />
    <div id="navbarSearchResults" class="navbar-search-results hidden"></div>
  </div>
  <div class="navbar-right">
    <div id="notificationWrapper" class="relative">
      <button id="notificationBtn" class="menu-item relative" title="Notificações">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
          <path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082A23.86 23.86 0 0 0 20.312 15.772 8.966 8.966 0 0 1 18 9.75V9a6 6 0 1 0-12 0v.75a8.966 8.966 0 0 1-2.312 6.021A23.86 23.86 0 0 0 9.143 17.082M14.857 17.082c.092.29.143.599.143.918a3 3 0 1 1-6 0c0-.319.051-.628.143-.918" />
        </svg>
        <span id="notificationBadge" data-count="0" class="hidden absolute -top-1 -right-1 bg-brand text-white rounded-full w-5 h-5 flex items-center justify-center text-xs"></span>
      </button>
      <div id="notificationList" class="hidden absolute right-0 mt-2 w-64 bg-white text-gray-700 rounded shadow-lg z-20"></div>
    </div>
  </div>
</div>

